.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}
.input {
  display: none;
}

img{
  width: 100%;
}

.image-main {
  width: auto;
  height: 40vh;
  margin: 20px;
}